
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container backcolor">
        
           
           

            <div class="col-xs-12 col-md-6 col-md-offset-3">

                <div class="tile">
                    <div class="profileImage">
                        <img src="https://assets.entrepreneur.com/content/3x2/1300/20160527093730-Freelancing.jpeg" width="100%" overflow="hidden" />
                    </div>
                    <div class="eventText">
                        <h1>Value Added Forum - How to freelance (the business side)</h1>
                        <p><a href="https://www.domo.com/">BYU</a>, Provo, UT</p>
                        <p>When:Thu, November 3</p>
                        <p>Time: 7pm – 8pm</p>
                        <h3>Special Guest, Stephen Godfrey, will come talk about freelancing and how IS students can better leverage their skills into doing their own freelance jobs and projects.</h3>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 col-md-offset-3">

                <div class="tile">
                    <div class="profileImage">
                        <img src="https://i.ytimg.com/vi/DxGv16So8yo/maxresdefault.jpg" width="100%" overflow="hidden" />
                    </div>
                    <div class="eventText">
                        <h1>WAIS Dinner</h1>
                        <p><a href="https://www.domo.com/">BYU</a>, Provo, UT</p>
                        <p>When:Tue, November 15, 2016</p>
                        <p>Time: 7pm – 8pm</p>
                        <h3>
                            You're invited to come learn more about the Information Systems major!
                            Information Systems is one of the most sought after majors within the Marriott School. It bridges the gap between technology and business, and opens up worlds of opportunity. We're excited about reaching out to women that may be interested in making an impact on the world through technology. Come hear more about IS, and specifically what it's like to be a woman within the major, over dinner on Tuesday, November 15th from 6-8pm.
                            Our keynote speaker will be Darren Lee, VP and GM of Proofpoint.
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-md-offset-3">

                <div class="tile">
                    <div class="profileImage">
                        <img src="https://si.wsj.net/public/resources/images/BN-EH550_espiri_P_20140828081532.jpg" width="100%" overflow="hidden" />
                    </div>
                    <div class="eventText">
                        <h1>KPMG Info Session</h1>
                        <p><a href="https://www.domo.com/">BYU</a>, Provo, UT</p>
                        <p>When:Thu, November 9</p>
                        <p>Time: 2pm – 4pm</p>
                        <h3>KPMG is hosting an information session. Come to learn more about them and the opportunities they have for information systems students. There will be food!</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-md-offset-3">

                <div class="tile">
                    <div class="profileImage">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzwUmU5AUQcjeql5sfQvVOpiNTPPjHc0Ps8MhhW6lyol6NzqopLw" width="100%" overflow="hidden" />
                    </div>
                    <div class="eventText">
                        <h1>AIS Closing Social</h1>
                        <p><a href="https://www.domo.com/">Sundance</a>, Provo, UT</p>
                        <p>When:Thu, December 18th, 2016</p>
                        <p>Time: 4pm – 8pm</p>
                        <h3>Come join us as we wrap up the year at sundance mountain resort. Snowball fights, Skiing and hot chocolate will all be provided by KPMG. </h3>
                    </div>
                </div>
            </div>

        <div class="addButton">
            <div><p>+</p></div>

        </div>
       
        
</div>



